/* .main_bg{
    height: 60vh;
    background: url(./images/Fantastic\ Beasts\ Star\ Eddie\ Redmayne\ Goes\ in\ Search\ of\ the\ Season’s\ Most\ Magical\ Fashions.jfif);
    background-position: bottom;
    padding: 107px 0 0 61px;

} */